* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* #color palette */
:root {
  --block-1: #42002e;
  --block-2: #590054;
  --block-3: #720137;
  --block-4: #5e0009;
  --block-5: #460002;
  --block-6: #a2005c;
}
/* end #color palette */

/* debug region */
.debug * {
  border: 3px dashed rgb(255, 255, 255);
}
/* end debug region */

/* Header */
.bg {
  background-color: var(--block-1);
  padding-top: 25px;
  padding-bottom: 25px;
}

.space1,
.space3 {
  width: 10%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.space2 {
  width: 30%;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.space1 {
  padding-left: 10px;
}

.space3 {
  text-align: right;
  padding-right: 10px;
}
/* end Header */

/* Main */
/* First section */
.bg-1 {
  background-color: var(--block-2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle {
  height: 350px;
  width: 60%;
  background-color: var(--block-3);
}
/* end First section */

/* Second section */
.bg-2 {
  background-color: var(--block-5);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle2 {
  height: 500px;
  width: 40%;
  background-color: var(--block-1);
}

.rectangle3 {
  height: 500px;
  width: 30%;
  background-color: var(--block-2);
}
/* end Second section */

/* third section */
.flex-container1 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row-reverse;
}

.bg-3 {
  background-color: var(--block-6);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle2 {
  height: 500px;
  width: 40%;
  background-color: var(--block-1);
}

.rectangle3 {
  height: 500px;
  width: 30%;
  background-color: var(--block-2);
}
/* end third section */

/* fourth section */
.bg-4 {
  background-color: var(--block-4);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle2 {
  height: 500px;
  width: 40%;
  background-color: var(--block-1);
}

.rectangle3 {
  height: 500px;
  width: 30%;
  background-color: var(--block-2);
}
/* end fourth section */

/* fifth section */
.bg-5 {
  background-color: var(--block-2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.rectangle4 {
  height: 800px;
  width: 70%;
  background-color: var(--block-3);
}
/* end fifth section */
/* end Main */

/* footer */
footer {
  background-color: var(--block-5);
  height: 100%;
}

/* footer top  */
.first-d,
.second-d {
  height: 500px;
  margin-top: 30px;
}

.first-d {
  width: 30%;
  background-color: var(--block-1);
}

.second-d {
  width: 10%;
  background-color: var(--block-6);
  border: 2px dashed yellow;
}
/* end footer top  */

/* footer bottom  */
.color-w {
  color: white;
  margin-top: 40px;
  margin-bottom: 25px;
}

.bg-fb {
  background-color: var(--block-3);
  height: 70px;
  width: 70%;
}

.flex-container2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo-f {
  background-color: white;
  border: 1px dashed black;
  height: 30px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-weight: 500;
}

.bottone-f {
  border: 1px dashed black;
  height: 30px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
}
/* end footer bottom */
/* end footer */
